table.table
  thead
    tr
      th = "Country"
      th = "Name"
      th = "Logo"
      th = "Created At"
      th
      th

javascript:
  $(document).ready(function() {
    $('.table').dataTable( {
      "ajax": "#{teams_path(format: :json)}",
      "columns": [
        { "data": "country", "orderable": false },
        { "data": "name" },
        { "data": "logo" },
        { "data": "created_at" },
        { "data": "edit_link", "orderable": false },
        { "data": "delete_link", "orderable": false }
      ],
      "pageLength": 50,
      "deferRender": true,
      "order": [3, "desc"],
      "sDom": 'lfiprtip'
    });
  });
