<div class="form-panel width-40pc width-100pc-xs hcenter m-t-lg">
  <header>Sign up</header>
  <fieldset>
  	<%= render "form" %>  
  </fieldset>
</div>

<div class="align-center">Already have an Account? <a href="<%= new_user_session_path %>">Sign In</a></div>

  