<div class="form-panel width-40pc width-100pc-xs hcenter m-t-lg">
  <header><%=t("shared.header.sign_up")%></header>
  <fieldset>
  	<%= render "form" %>  
  </fieldset>
</div>

<div class="align-center">Already have an Account? <a href="<%= new_user_session_path %>"><%=t("shared.header.sign_in")%></a></div>

  
