table.table
  thead
    tr
      th = "Match"
      th = "Name"
      th = "Created At"
      th

javascript:
  $(document).ready(function() {
    $('.table').dataTable( {
      "ajax": "#{videos_path(format: :json)}",
      "columns": [
        { "data": "match" },
        { "data": "name" },
        { "data": "created_at" },
        { "data": "delete_link", "orderable": false }
      ],
      "pageLength": 50,
      "deferRender": true,
      "order": [2, "desc"],
      "sDom": 'lfiprtip'
    });
  });
