table.table
  thead
    tr
      th = "Match Id"
      th = "Home team"
      th = "Result"
      th = "Away team"
      th = "Name"
      th = "Created At"
      th

javascript:
  $(document).ready(function() {
    $('.table').dataTable( {
      "ajax": "#{videos_path(format: :json)}",
      "columns": [
        { "data": "id" },
        { "data": "home_team" },
        { "data": "result", orderable: false },
        { "data": "away_team" },
        { "data": "name" },
        { "data": "created_at" },
        { "data": "delete_link", "orderable": false }
      ],
      "pageLength": 50,
      "deferRender": true,
      "order": [5, "desc"],
      "sDom": 'lfiprtip'
    });
  });
