.top-advertisements.container
  .advertisement
    = link_to "http://www.deporforas.com/", { target: "_blank", title: "Camisetas de Futbol Retro DeporForas" } do
      = image_tag asset_path("ads/deporforas_#{I18n.locale}.jpg"), alt: "Camisetas de Futbol Retro DeporForas"