= tag "meta", name: "Subject", content: ""
= tag "meta", "http-equiv" => "Content-Language", content: t("I18n.locale.long.#{I18n.locale}").downcase
= tag "meta", "http-equiv" => "Content-Type", content: "text/html"
= tag "meta", name: "area", content: "General"
= tag "meta", "http-equiv" => "audiencie", content: "general"
= tag "meta", name: "VW96.objecttype", content: "Document"
= tag "meta", name: "resource-type", content: "document"
= tag "meta", name: "lang", content: I18n.locale
= tag "meta", name: "DC.Language", scheme: "RFC1766", content: t("I18n.locale.long.#{I18n.locale}").downcase
= tag "meta", name: "rating", content: "General"
= tag "meta", name: "charset", content: "UTF-8"
= tag "meta", name: "distribution", content: "Global"
= tag "meta", name: "robots", content: "all"
= tag "meta", name: "author", content: "Footballia"
