<footer class="footer-block invert-colors bcolor-bg">

<!-- Container -->
<div class="container cont-top clearfix">

<!-- Row -->
<div class="row">

<!-- Brand -->
<div class="col-md-3 brand-col brand-center">
	<div class="vcenter">
	  <span class="vcenter-this">
	    = image_tag "text_logo.png", alt: "Footballia", title: "Footballia"
		</span>
	</div>
</div>
<!-- /Brand -->

<!-- Links -->
<div class="col-md-9 links-col">

<!-- Row -->
<div class="row-fluid">

<!-- Col -->
<div class="col-xs-12">
<h5>About us</h5>
<p>#{t("about")}</p>
<!-- hlinks -->
<ul class="hlinks hlinks-icons color-icons-borders color-icons-bg color-icons-hovered">
<li><a rel="me nofollow" href="http://www.facebook.com/footballia" target="_blank"><i class="icon fa fa-facebook"></i></a></li>
<li><a rel="me nofollow" href="http://www.twitter.com/footballiaweb" target="_blank"><i class="icon fa fa-twitter"></i></a></li>
</ul>
<!-- /hlinks -->              
</div>
<!-- /Col -->

</div>
<!-- /Row -->

</div>
<!-- /Links -->

</div>
<!-- /Row -->

</div>
<!-- /Container -->

<!-- Bottom -->
<div class="footer-bottom bcolor-bg invert-colors">

<!-- Container -->
<div class="container">

<span class="copy-text">© 2015 Footballia.</span>
<!-- hlinks -->
<ul class="hlinks pull-right">
<li><a href="#">About</a></li>
<li>
	= link_to t("login"), new_user_session_path, title: t("login")
</li>
<li>
  = link_to "Sign up", new_user_registration_path, title: "Sign in"
</li>
</ul>
<!-- /hlinks -->

</div>
<!-- /Container -->

</div>
<!-- /Bottom -->

</footer>