<footer class="footer-block invert-colors bcolor-bg">

<!-- Container -->
<div class="container cont-top clearfix">

<!-- Row -->
<div class="row">

<!-- Brand -->
<div class="col-md-3 brand-col brand-center">
<div class="vcenter">
<a class="vcenter-this" href="#">
  = image_tag "image_logo.png", alt: "Footballia", title: "Footballia"
</a>
</div>
</div>
<!-- /Brand -->

<!-- Links -->
<div class="col-md-9 links-col">

<!-- Row -->
<div class="row-fluid">

<!-- Col -->
<div class="col-xs-12">
<h5>About us</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor magna sit amet lorem sollicitudin, vitae euismod lacus lacinia. Nam ac pellentesque ligula. Nulla dapibus vulputate leo vel facilisis. Aenean lorem felis, pretium eget felis in, convallis dapibus augue. Maecenas placerat accumsan ante a volutpat. Etiam vehicula ullamcorper tellus ac suscipit. Phasellus ac rutrum mi, non semper tellus. Praesent consectetur molestie congue. Suspendisse in bibendum neque. Duis lacus neque, facilisis ut elit id, maximus vulputate ex. Nullam non pharetra turpis, vitae varius felis. Nullam in interdum dolor.</p>
<!-- hlinks -->
<ul class="hlinks hlinks-icons color-icons-borders color-icons-bg color-icons-hovered">
<li><a href="#"><i class="icon fa fa-facebook"></i></a></li>
<li><a href="#"><i class="icon fa fa-twitter"></i></a></li>
<li><a href="#"><i class="icon fa fa-rss"></i></a></li>
<li><a href="#"><i class="icon fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="icon fa fa-instagram"></i></a></li>
<li><a href="#"><i class="icon fa fa-youtube"></i></a></li>
</ul>
<!-- /hlinks -->              
</div>
<!-- /Col -->

</div>
<!-- /Row -->

</div>
<!-- /Links -->

</div>
<!-- /Row -->

</div>
<!-- /Container -->

<!-- Bottom -->
<div class="footer-bottom bcolor-bg invert-colors">

<!-- Container -->
<div class="container">

<span class="copy-text">© 2015 Footballia.</span>
<!-- hlinks -->
<ul class="hlinks pull-right">
<li><a href="#">About</a></li>
<li><a href="#">Login</a></li>
<li><a href="#">Sign Up</a></li>
<li><a href="#">Support</a></li>
</ul>
<!-- /hlinks -->

</div>
<!-- /Container -->

</div>
<!-- /Bottom -->

</footer>