<!-- Nav Bottom -->
<nav class="nav-bottom hnav hnav-borderless invert-colors bcolor-bg boxed-section">

  <!-- Container -->
  <div class="container">
  
    <!-- Header-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle no-border" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-navicon"></i>
      </button>
      = link_to root_path, class: "navbar-brand visible-xs" do
        = image_tag "image_logo.png", alt: "Footballia", title: "Footballia"
    </div>
    <!-- /Header-->
  
    <!-- Collapse -->
    <div class="navbar-collapse4">
    
      <!-- Navbar Center -->
      <ul class="nav navbar-nav navbar-center fill-pcolor case-u">
        <li class="active"><a href="#{root_path}">home</a></li>
        <li class="dropdown dropdown-mega"><a href="#" class="dropdown-toggle" data-toggle="dropdown">competitions<i class="fa fa-angle-down toggler"></i></a>
          = render partial: "shared/browse_competitions"
        </li>
        <li><a href=#{advanced_search_path}>Search</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">contact</a></li>
      </ul>
      <!-- /Navbar Center -->
      
    </div>
    <!-- /Collapse -->
    
  </div>
  <!-- /Container -->
  
</nav>
<!-- /Nav Bottom -->
