= select_tag "search_mode", "<option value='by_player'>#{t(".search_by_player")}</option><option value='by_team'>#{t(".search_by_team")}</option>".html_safe


= form_tag search_by_player_path, method: :get, class: "form-inline search_by_player" do
  = text_field_tag :player_name, "", placeholder: t(".search_player")
  = hidden_field_tag :player_id
  = button_tag class: "btn btn-sm", type: "submit" do
    .icon.icon-search
    

= form_tag search_by_team_path, method: :get, class: "form-inline search_by_team", style: "display:none;" do
  = text_field_tag :team_name, "", placeholder: t(".search_team")
  = hidden_field_tag :team_id
  = button_tag class: "btn btn-sm", type: "submit" do
    .icon.icon-search
    

javascript:
  $(document).ready(function () {
    $("#search_mode").on("change", function (e) {
      $(".search_by_player").toggle();
      $(".search_by_team").toggle();
      e.preventDefault();
    });
    
    /* Player name autocomplete */
    $("#player_name").autocomplete({
      source: function (request, response) {
        $.getJSON("/players/search", {
          name: request.term,
        }, response );
      },
      minLength: 2,
      select: function (event, ui) {
        $("#player_id").val(ui.item.id);                
      }
    })
    .each(function (i) {
      $(this).data("ui-autocomplete")._renderItem = function(ul, item) {
        return $( "<li>" )
          .append( "<a> <span style='display:inline-block;' class='flag flag-" + item.country_code + "'></span> <b>" + item.name + "</b>, " + item.full_name + " (" + item.birthday + ")" + "</a>" )
          .appendTo( ul );
      };
    });
    
    /* Team name autocomplete */
    $("#team_name").autocomplete({
      source: function (request, response) {
        $.getJSON("/teams/search", {
          name: request.term,
        }, response );
      },
      minLength: 2,
      select: function (event, ui) {
        $("#team_id").val(ui.item.id);                
      }      
    })
    .each(function (i) {
      $(this).data("ui-autocomplete")._renderItem = function(ul, item) {
        return $( "<li>" )
          .append( "<a> <img src='" + item.logo_mini + "'></img>" + item.name + "</a>" )
          .appendTo( ul );
      };
    });
  });