.social_links.align-center
  .facebook
    <div class="fb-page" data-href="https://www.facebook.com/footballia/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/footballia/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/footballia/">Footballia</a></blockquote></div>
  .twitter.m-t
    <a class="twitter-follow-button" href="https://twitter.com/FootballiaWeb" data-size="large">Follow @FootballiaWeb</a>

