javascript:
  $(document).ready(function () {
    /* Video player */
    jwplayer("jwplayer").setup({
      height: "360",
      width: "100%",
      image: "#{asset_path "logo.jpg"}",
      flashplayer: "#{asset_path('flash.swf')}",
      advertising: {
        client: "vast",
        tag: "http://adserver.com/vastTag.xml"
      },
      file: "#{videos.first.source_file.url}"
    });
  });

- if videos.size > 1
  javascript:
    $(document).ready(function () {
      jwplayer().load([{
        playlist: #{raw videos.map{|v| { file: v.source_file.url}}.to_json}
      }]);
    });