/ TODO refactor this: set general options and then set file or playlist attribute depending on match.videos.count

- if videos.size == 1
  javascript:
    $(document).ready(function () {
      /* Video player */
      jwplayer("jwplayer").setup({
        height: "100%",
        width: "100%",
        image: "#{preview_image_match_path(match)}",
        flashplayer: "#{asset_path('flash.swf')}",
        advertising: {
          client: "vast",
          tag: "http://adserver.com/vastTag.xml"
        },
        file: "#{videos.first.source_file.url}"
      });
    });

- else
  javascript:
    $(document).ready(function () {
      /* Video player */
      jwplayer("jwplayer").setup({
        height: "100%",
        width: "100%",
        flashplayer: "#{asset_path('flash.swf')}",
        advertising: {
          client: "vast",
          tag: "http://adserver.com/vastTag.xml"
        },
        playlist: #{raw videos.map{|v| { image: "#{preview_image_match_path(match)}", file: v.source_file.url}}.to_json}
      });
    });

/ Increment visualizations counter

javascript:
  $(document).ready(function(){
    var played = false; //patch to overcome jwplayer onPlay twice-call bug
    jwplayer().onPlay(function() {
      if (!played) {
        console.log("PLAY");
        $.ajax({
          url: "#{increment_visualizations_counter_match_path(match)}",
          type: "post",
          success: function (e) {
            console.log("COUNTED!")
          }
        });
      }
      played = true;
    });
  });

/ Resizing player

javascript:
  $(document).ready(function(){
    $(".toggle_player_size").on("click", function (e) {
      if ($(jwplayer("jwplayer").getContainer()).width() == 640) {
        jwplayer("jwplayer").resize(800,450);
        $("#match .video").addClass("medium_size");
      }
      else {
        jwplayer("jwplayer").resize(640,360);
        $("#match .video").removeClass("medium_size");
      }
      e.preventDefault();
    });
  });
