table.table
  thead
    tr
      th = "Home team"
      th = "Result"
      th = "Away team"
      th = "Competition"
      th = "Stage"
      th = "Playing date"
      th = "Language"
      th = "Video files"
      th = "Uploaded"
      th
      th

javascript:
  $(document).ready(function() {
    $('.table').dataTable( {
      "ajax": "#{matches_path(format: :json)}",
      "columns": [
        { "data": "home_team" },
        { "data": "result", "orderable": false },
        { "data": "away_team" },
        { "data": "competition" },
        { "data": "stage" },
        { "data": "playing_date" },
        { "data": "language" },
        { "data": "videos_count" },
        { "data": "created_at" },
        { "data": "edit_link", "orderable": false },
        { "data": "delete_link", "orderable": false }
      ],
      "pageLength": 50,
      "deferRender": true,
      "order": [8, 'desc'],
      "sDom": 'lfiprtip'
    });
  });      
