.m-b = link_to "New match", new_match_path, class: "btn btn-primary"

table.table
  thead
    tr
      th = "Home team"
      th = "Result"
      th = "Away team"
      th = "Competition"
      th = "Stage"
      th = "Playing date"
      th = "Video files"
      th = "Visits"
      th = "Plays"
      th = "Rating"
      th = "Uploaded"
      th = "User"
      th
      th
      th

javascript:
  $(document).ready(function() {
    $('.table').dataTable( {
      "ajax": "#{matches_path(format: :json)}",
      "columns": [
        { "data": "home_team" },
        { "data": "result", "orderable": false },
        { "data": "away_team" },
        { "data": "competition" },
        { "data": "stage" },
        { "data": "playing_date" },
        { "data": "videos_count" },
        { "data": "visits_counter" },
        { "data": "visualizations_counter" },
        { "data": "average_rating" },
        { "data": "created_at" },
        { "data": "user" },
        { "data": "publish_link", "orderable": false },
        { "data": "edit_link", "orderable": false },
        { "data": "delete_link", "orderable": false }
      ],
      "pageLength": 50,
      "deferRender": true,
      "order": [10, 'desc'],
      "sDom": 'lfiprtip'
    });
    
    $(document).on("click", ".publish", function (e) {
      var link = this;
      $.ajax({
        url: $(link).data("url"),
        type: "post",
        success: function (e) {
          alert("Published!");
          $(link).remove();
        }
      });
      e.preventDefault();
    });

  });      
