$(document).ready(function () {
  $(".player_name").autocomplete({
    source: function (request, response) {
      $.getJSON("/search_by_player", {
        name: request.term,
      }, response );
    },
    minLength: 2,
    select: function(event, ui) {
      $(this).closest(".player").find(".player_id").val(ui.item.id);    
    },
    search: function () {
      $(this).closest(".form-group").find(".lens").hide();
      $(this).closest(".player").find(".loading").show();
    },
    open: function () {
      $(this).closest(".form-group").find(".lens").show();      
      $(this).closest(".player").find(".loading").hide();
    },
    response: function(event, ui) {
      if (!ui.content.length) {
        var noResult = { value: "no-results" };
        ui.content.push(noResult);
      }
    }
  })
  .each(function (i) {
    $(this).data("ui-autocomplete")._renderItem = function(ul, item) {
      if (item.value == "no-results") {
        return $( "<li> ").append("<span class='padder'><%= I18n.t('no_results') %></span>").appendTo(ul);
      }
      return $( "<li>" )
        .append( "<a> <span style='display:inline-block;' class='flag flag-" + item.country_code + "'></span> <b>" + item.name + "</b>, " + item.full_name + " (" + item.birthday + ")" + "</a>" )
        .appendTo( ul );
    };
  });
});