$(document).ready(function () {
  <%# TODO find a better approach for this! %>
  var teamsPath = "<%= I18n.locale.to_s == "es" ? "/es/equipos/" : I18n.locale.to_s == "fr" ? "/fr/equipes/" : "/teams/" %>";

  $(".team_name.autocomplete").autocomplete({
    source: function (request, response) {
      $.getJSON("/search_by_team", {
        name: request.term,
      }, response );
    },
    minLength: 2,
    select: function(event, ui) {
      var logoElement = $(this).closest(".team_details").find(".logo img");
      var scoreLogoElement = $(this).closest("#match_form").find(".match_score");

      if ($(this).attr("id") == "match_home_team_name") {
        scoreLogoElement = $(scoreLogoElement).find(".home_team_logo img");
      }
      else {
        scoreLogoElement = $(scoreLogoElement).find(".away_team_logo img");
      }

      $(logoElement).hide().attr("src", ui.item.logo_medium).fadeIn();
      $(scoreLogoElement).hide().attr("src", ui.item.logo_thumb).fadeIn();

      $(this).closest(".team_details").find(".team_id").val(ui.item.id);

      if ($(this).data("link-results")) {
        window.location.href = teamsPath + ui.item.slug;
      }
    },
    search: function () {
      $(this).closest(".form-group").find(".lens").hide();
      $(this).closest(".team_details").find(".loading").show();
    },
    open: function () {
      $(this).closest(".form-group").find(".lens").show();
      $(this).closest(".team_details").find(".loading").hide();
    },
    response: function(event, ui) {
      if (!ui.content.length) {
        var noResult = { value: "no-results" };
        ui.content.push(noResult);
      }
    }
  })
  .each(function (i) {
    $(this).data("ui-autocomplete")._renderItem = function(ul, item) {
      if (item.value == "no-results") {
        return $( "<li> ").append("<span class='padder'><%= I18n.t('no_results') %></span>").appendTo(ul);
      }

      if ($(this.element).data("link-results")) {
        return $( "<li>" )
          .append( "<a href='" + teamsPath + item.slug + "'> <img class='m-r-xs' src='" + item.logo_mini + "'></img>" + item.name + "</a>" )
          .appendTo( ul );
      }
      else {
       return $( "<li>" )
          .append( "<a> <img class='m-r-xs' src='" + item.logo_mini + "'></img>" + item.name + "</a>" )
          .appendTo( ul ); 
      }
    };
  });
});
