.embedded_ad
  margin-top: 20px
  text-align: center

#match .embedded_ad
  margin-bottom: 60px

@media (min-width: 768px)
  .embedded_ad
    margin-top: 40px
    margin-left: 100px
    margin-right: 100px
