html
  height: 100%

body
  font-size: 12px
  margin: 0px
  height: 100%

#header
  height: 165px
  .logo
    float: left
    width: 20%
  .banner
    float: right
    width: 80%
    img
      width: 100%

#footer
  background: black
  color: white
  height: 200px

.wrapper
  width: 980px
  margin: auto
  min-height: 100%

#main
  #left_column
    width: 20%
    float: left
    input
      width: 130px
    select
      width: auto
    button
      
  #content
    float: left
    width: 78%
    margin: 0 1%

.raty-cancel
  display: none !important

.mini-rating
  text-align: center
  img
    width: 12px
    height: 12px  

.m-t
  margin-top: 20px
.m-b
  margin-bottom: 20px
.m-t-lg
  margin-top: 30px
.m-b-lg
  margin-bottom: 30px    

.ui-autocomplete
  z-index: 9999 !important
  width: 200px