html
  height: 100%

body
  font-size: 12px
  margin: 0px
  height: 100%

#header
  height: 165px
  .logo
    float: left
    width: 20%
  .banner
    float: right
    width: 80%
    img
      width: 100%

#footer
  background: black
  color: white
  height: 200px

.wrapper
  width: 980px
  margin: auto
  min-height: 100%

#main
  #left_column
    width: 20%
    float: left
    input
      width: 130px
    select
      width: auto
    button
      
  #content
    float: left
    width: 78%
    margin: 0 1%

.raty-cancel
  display: none !important

.mini-rating
  text-align: center
  img
    width: 12px
    height: 12px  

.m-t
  margin-top: 20px
.m-b
  margin-bottom: 20px
.m-t-xs
  margin-top: 10px  
.m-b-xs
  margin-bottom: 10px
.m-t-lg
  margin-top: 30px
.m-b-lg
  margin-bottom: 30px    
.m-l
  margin-left: 20px
.m-r
  margin-right: 20px
.m-l-xs
  margin-left: 10px
.m-r-xs
  margin-right: 10px
.m-l-lg
  margin-left: 30px
.m-r-lg
  margin-right: 30px

.padder
  padding: 7px

.ui-autocomplete
  z-index: 9999 !important
  width: 200px

.separator
  margin: 50px 100px
  border-bottom: 1px solid #63b032

#match .video:hover img, .best_matches .slide:hover img
  opacity: 0.8

.rotate-up
  /* Safari */
  -webkit-transform: rotate(-2deg)
  /* Firefox */
  -moz-transform: rotate(-2deg)
  /* IE */
  -ms-transform: rotate(-2deg)
  /* Opera */
  -o-transform: rotate(-2deg)
  transform: rotate(-2deg)

.rotate-down
  /* Safari */
  -webkit-transform: rotate(1deg)
  /* Firefox */
  -moz-transform: rotate(1deg)
  /* IE */
  -ms-transform: rotate(1deg)
  /* Opera */
  -o-transform: rotate(1deg)
  transform: rotate(1deg)

.embedded_ad
  margin-top: 20px

@media (min-width: 768px)
  .embedded_ad
    margin-top: 40px
    margin-left: 100px
    margin-right: 100px
