@media (min-width: 768px) {
  .header-cols {
    height: 255px;
    background: #d0d2d3;
    background-image: asset-url("ball.png", image); /* fallback */
    background-image: asset-url("ball.png", image), -webkit-gradient(linear, left, left bottom, from(#d0d2d3), to(#fff)); /* Saf4+, Chrome */
    background-image: asset-url("ball.png", image), -webkit-linear-gradient(left, #d0d2d3, #fff); /* Chrome 10+, Saf5.1+ */
    background-image: asset-url("ball.png", image),    -moz-linear-gradient(left, #d0d2d3, #fff); /* FF3.6+ */
    background-image: asset-url("ball.png", image),      -o-linear-gradient(left, #d0d2d3, #fff); /* Opera 11.10+ */
    background-image: asset-url("ball.png", image),         linear-gradient(to right, #d0d2d3, #fff); /* W3C */
    background-position: top right;
    background-repeat: no-repeat;
  }

  .hnav.hnav-sm .navbar-nav > li > a {
    height: 30px !important;
    line-height: 30px !important;
  }
}

.motto {
  margin-bottom: 8px;
  text-align: left;
}
.motto .text {
  background: black;
  color: white;
  font-size: 28px;
  font-weight: bold;
  padding: 10px 42px;
  display: inline-block;
  letter-spacing: 1px;
}
.motto .text.green {
  color: #63b032;
}

/* Search */

.header-search {
  position: relative;
}

.header-search .search_options {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 319;
  width: 55px;
}

.header-search .search_options button {
  width: 100%;
}

.header-search .search_options .dropdown-menu {
  margin: 0px;
}

.header-search .search_options .dropdown-menu a {
}

.header-search .search_options .dropdown-menu .active {
  /*background: #6f1585;*/
  background: #63b032;
  color: white;
}

.header-search form input.team_name, .header-search form input.player_name {
  z-index: 318;
  padding-left: 60px; /* width of search_options element plus some pixels*/
}

.header-search .form-group .btn-search {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 319;
}
