.figures
  margin-top: 30px
.last_match
  margin: auto
  margin-top: 30px
  width: 640px
.rating
  text-align: center
.best_matches
  margin-top: 60px
.browse_competitions
  margin-top: 30px
.figures
  margin-top: 60px
