.figures
  margin-top: 30px
.last_match
  margin-top: 30px
.rating
  text-align: center
.best_matches
  margin-top: 60px
.browse_competitions
  margin-top: 30px
.figures
  margin-top: 60px
  .figure
    color: #6f1585
  .vlinks.vlinks-lg.vlinks-iconed .icon
    color: #e9e8e8
