.figures
  margin-top: 30px
.last_match
  margin-top: 30px
.rating
  text-align: center
.best_matches
  margin-top: 60px
.browse_competitions
  margin-top: 30px
.figures
  margin-top: 60px
  .figure
    color: #6f1585
  .vlinks.vlinks-lg.vlinks-iconed .icon
    color: #e9e8e8
.special_matches
  .direct_search_link
    padding: 4px
    text-align: center
    .image
      -webkit-filter: drop-shadow(4px 4px 3px #c4c3c3)
      filter: drop-shadow(4px 4px 3px #c4c3c3)
    img
      width: 250px
      height: 180px
      -webkit-filter: grayscale(40%) sepia(50%)
      -moz-filter: grayscale(40%) sepia(50%)
      filter: grayscale(40%) sepia(50%)
    .search_term
      text-align: center
    &:hover
      img
        -webkit-filter: grayscale(0%) sepia(0%)
        -moz-filter: grayscale(0%) sepia(0%)
        filter: grayscale(0%) sepia(0%)
@media (max-width: 767px)
  .more_special_matches
    a
      display: block
      margin-bottom: 10px
    .delimiter
      display: none
@media (min-width: 768px)
  .more_special_matches
    width: 70%
    margin: auto
  .delimiter:last-child
    display: none
