.table-search
  margin: auto
  width: 100%
  tbody tr td, .match .row
    line-height: 40px !important /* since small logos are 40 pixels height */
  tbody .match img
    max-width: 40px

.search-results
  h1
    font-size: 21px
    margin-top: 15px
  h2
    font-size: 18px
