.video
  width: 320px
  height: 180px
  margin:  auto
#match .video
  margin: 0px
@media (min-width: 768px)
  .video
    width: 640px
    height: 360px
  #match .video.medium_size
    width: 800px
    height: 450px
    margin: auto

