#match
  .video
    width: 640px
    height: 360px
    /*float: left*/
  .video.medium_size
    margin: auto
  .related_matches
    width: 20%
    float: right
    margin-left: 2%
    font-size: 12px
    line-height: 18px
  .teams
    .logo
      margin: auto
      height: 200px /* fixed on image version */
      display: table
      .image
        display: table-cell
        vertical-align: middle
    .name
      margin-top: 15px
      text-transform: uppercase
  .team_name
    text-align: center
    text-transform: uppercase 
  .details
    width: 65%
    margin: 40px auto
  .playing_date, .competition, .venue, .stage, .season, .rating
    text-align: center
  .rating
    margin-top: 10px
  .result
    margin: 10px auto
    text-align: center
    width: 160px
    .goals
      font-style: italic
      font-size: 0.9em
    .goal.home
      text-align: left
    .goal.away
      text-align: right
    .goal span
      margin-right: 5px
  .player
    .team_number
      text-align: right
    .name
      padding-left: 10px
#match_form, #head_to_head_form
  label
    display: block
  .teams
    .team_details
      .logo.blank
        border: 1px dashed grey
        width: 210px
        height: 210px
        padding: 5px
        text-align: center
  .players
    .home_players, .away_players
  .form_buttons
    margin-top: 40px
    a, input
      margin-right: 10px
  .own_goal .controls
    margin-top: 20px
    margin-left: 20px
  .player.reserve.extra
    display: none

  
  
