#match
  .search
    float: left
    width: 10%
    margin-right: 3%
  .video
    width: 65%
    float: left
  .related_matches
    width: 20%
    float: right
    margin-left: 2%
    font-size: 12px
    line-height: 18px
  .teams  
    .team_details
      float: left
      width: 50%
      .logo
        text-align: center
  .details
    width: 65%
    margin: 40px auto
  .playing_date, .competition, .venue, .leg, .season
    text-align: center
  .result
    margin: 10px auto
    text-align: center
    width: 160px
    .goals
      font-style: italic
      font-size: 0.9em
    .goal.home
      text-align: left
    .goal.away
      text-align: right

#match_form
  .teams
    .team_details
      float: left
      width: 50%      
      .logo.blank
        border: 1px dashed grey
        width: 200px
        height: 200px
        text-align: center
  .players
    
    .home_players, .away_players
      float: left
      width: 50%

  
  