body {
  font-family: 'Roboto', sans-serif;
}

/* ul toggle for browse competitions section */

ul.ul-toggle > li {
  padding: 0 15px;
}

ul.ul-toggle > li > ul > li {
  margin: 10px 0px;
  padding: 0 10px;
  background: none;
  color: none;
}

ul.ul-toggle > li > ul > li:hover {
  background: none;
  color: inherit;
}

ul.ul-toggle > li > ul {
  line-height: 12px;
}

ul.ul-toggle > li {
  line-height: 2em;
  border-bottom: none;
}

.hnav .dropdown-menu.mega-menu ul.links.sub-menu > li a {
  display: inline;
}

/* Dropdown */

.hnav .dropdown-menu.mega-menu .links > li > a {
  border-bottom: none;
}

.hnav .dropdown-menu.mega-menu .links > li > a {
  line-height: 2em;
}

/* vlinks icons */

.vlinks.vlinks-lg.vlinks-iconed > li {
  margin-bottom: 30px;
}

.vlinks.vlinks-lg.vlinks-iconed > li > span.figure {
  font-size: 1.8em;
}

@media (max-width: 767px) { 
  .vlinks.vlinks-lg.vlinks-iconed > li {
    padding: 0 0 10px 65px;
  }
}

@media (min-width: 768px) { 
  .vlinks.vlinks-lg.vlinks-iconed > li > span.figure {
    font-size: 2.5em;
  }
}

.vlinks-iconed > li .meta {
  font-size: 0.9em;
}

.cover-1-bg {
  background: asset-url("backgrounds/cover1.jpg", image) no-repeat center 0 fixed;
}

.cover-2-bg {
  background: url("/assets/backgrounds/cover2.jpg") no-repeat center 0 fixed;
}

.cover-4-bg {
  background: asset-url("backgrounds/cover4.jpg", image) no-repeat center 0 fixed;
}

/* PAGINATION
-------------------------------------------------- */

.pagination li.active span {
  border: none;
  background: none;
  border: 1px solid #ddd;
  background: #e5e5e5;
  padding: 0 14px;
  line-height: 35px;
  display: block;
  margin-right: 5px;
  color: #131416;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important;
}

.pagination li.active:hover span {
  background: #e5e5e5;
  border-color: #e5e5e5;
}

.section-title {
  margin-bottom: 35px;
}

.product-details .product-rating .text {
  margin-left: 20px;
}
