table.table
  thead
    tr
      th = "Match Id"
      th = "Home team"
      th = "Result"
      th = "Away team"
      th = "Rater"
      th = "Stars"
      th = "Created At"

javascript:
  $(document).ready(function() {
    $('.table').dataTable( {
      "ajax": "#{rates_path(format: :json)}",
      "columns": [
        { "data": "id" },
        { "data": "home_team" },
        { "data": "result", "orderable": false },
        { "data": "away_team" },
        { "data": "rater" },
        { "data": "stars" },
        { "data": "created_at" },
      ],
      "pageLength": 50,
      "deferRender": true,
      "order": [6, "desc"],
      "sDom": 'lfiprtip'
    });
  });
